<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>
  
  <%if @todo%>
    <h3><%=@todo.content%></h3>
  <%end%>

<%= form_for(@state) do |f|%>
  <%=f.label "Priority:"%>
  <%=f.text_field(:priority)%>
  <%=f.hidden_field :user_id, value: current_user.id%>
  <%=f.submit("submit")%>
<%end%>