<% @errors && @errors.each do |e|%>
  <li><%= e %></li>
<%end%>

<%=form_for(@todo) do |f|%>
  <%=f.label("Todo:") %>
  <%=f.text_field(:name) %>

  <%=f.fields_for :state do |s| %>
    <%=s.label "Priority:"%>
    <%=s.text_field :priority%>
  <%end%>
  <%=f.submit "Submit"%>
<%end%>