<h3>Form_for</h3>

<% @errors && @errors.each do |e|%>
  <li><%= e %></li>
<%end%>

<%=form_for(@todo) do |f|%>
  <%=f.label("Todo:") %>
  <%=f.text_field(:name) %>

  <%=f.fields_for :states do |m| %>
    <%=m.label "Priority:"%>
    <%=m.number_field :priority%>
  <%end%>
  <%=f.submit "Submit"%>
<%end%>