<h3>Form_for</h3>

<%=form_for(@todo) do |f|%>
  <%=f.label("Todo Name:") %>
  <%=f.text_field(:name) %>
  <%=f.submit "Submit"%>
<%end%>
<h3>Form_tag</h3>
<%=form_tag(todos_path) do %>
  <%= label_tag "todo Name:"%>
  <%= text_field_tag "name"%>
  <%=submit_tag "Submit"%>
<%end%>
<h3>Manual Form</h3>
<form action="/todos" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label>Todo Name: </label>
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>